.InputsContainer {
  display: flex;
  position: relative;
  width: 100%;
}

.InputsGridContainer {
  display: grid;
  width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: auto 25% auto;
  column-gap: auto;
  grid-template-areas:
    "input1 result input2"
    "input3 none input4";
}

.InputText {
  margin: 0;
}

.InputArea1 {
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 25px;
  grid-area: input1;
}

.InputArea2 {
  display: flex;
  flex-direction: column;
  grid-area: input2;
  margin: 25px 25px 0 0;
}

.InputArea3 {
  display: flex;
  flex-direction: column;
  grid-area: input3;
  margin: auto 0 25px 25px;
}
.InputArea4 {
  display: flex;
  flex-direction: column;
  grid-area: input4;
  margin: auto 25px 25px 0;
}

.Result {
  grid-area: result;
  margin: auto auto 0px auto;
}
