.InputsContainer {
  display: flex;
  position: relative;
  width: 100%;
}

.inputSlider {
  height: 2rem;
  background: linear-gradient(
    to right,
    #82cfd0 0%,
    #82cfd0 50%,
    #fff 50%,
    #fff 100%
  );

  border: solid 1px #82cfd0;
  border-radius: 8px;
  height: 7px;
  width: 356px;
  outline: none;
  transition: "background" 450ms ease-in;
  -webkit-appearance: none;
}

.InputsGridContainer {
  display: grid;
  width: 100%;
  grid-template-rows: auto auto;
  grid-template-columns: auto 32% auto;
  column-gap: auto;
  grid-template-areas:
    "input1 result input2"
    "input3 none input4";
}

.resultText {
  font-size: 1rem;
  width: 100%;
  text-transform: capitalize;
}

.InputText {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

.InputArea1 {
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 25px;
  grid-area: input1;
}

.InputArea2 {
  display: flex;
  flex-direction: column;
  grid-area: input2;
  margin: 25px 25px 0 0;
}

.InputArea3 {
  display: flex;
  flex-direction: column;
  grid-area: input3;
  margin: auto 0 25px 25px;
}
.InputArea4 {
  display: flex;
  flex-direction: column;
  grid-area: input4;
  margin: auto 25px 25px 0;
}

.Result {
  grid-area: result;
  margin: auto auto 0px auto;
}

[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  margin: 12px 0;
  width: 100%;
}
[type="range"]:focus {
  outline: 0;
}
[type="range"]:focus::-webkit-slider-runnable-track {
  background: #c2c2c2;
}
[type="range"]::-webkit-slider-runnable-track {
  cursor: default;
  height: 8px;
  transition: all 0.2s ease;
  width: 100%;
  background: #cbc9c9;
  border-radius: 5px;
}
[type="range"]::-webkit-slider-thumb {
  background: #5588a2;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: default;
  height: 16px;
  width: 16px;
  -webkit-appearance: none;
  margin-top: -4px;
}

[type="range"]::-webkit-slider-thumb:hover {
  background: #2d4855;
}
